body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;

}
.app {
  background-color: var(--background);
  height: 100vh;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--background: white;
  --container-background: white;
	--text-primary: white;
	--text-secondary: black
  --text-tertiary:#9495a5
  --btn-primary: royalblue;
  --btn-secondary: #9495a5;
  --btn-hover: black;
	--accent: purple;
}
[data-theme='dark'] {
	--background: #121212;
  --container-background: #393A4B;
	--text-primary: white;
	--text-secondary: white;
  --btn-primary: royalblue;
  --btn-secondary: #9495a5;
  --btn-hover: white;
	--accent: darkred;
}
